 #####################################################
#
# List of approvers for caikit/caikit-tgis-backend repository
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners

*  @gabe-l-hart @tjohnson31415 @hickeyma @alex-jw-brooks @gkumbhat @evaline-ju @joerunde
