[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/nightly/cu118"
verify_ssl = true
name = "pytorch_nightly"

[packages]
caikit-nlp = {editable = true, ref = "4f42230832777ac9667700fba5254d6452942ce4", git = "https://github.com/caikit/caikit-nlp/"}
torch = {version = "==2.1.0.dev20230904+cu118", index = "pytorch_nightly" }
pytorch-triton = {version = "==2.1.0+e6216047b8", index = "pytorch_nightly"}

[dev-packages]

[requires]
python_version = "3.9"
